* {
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
}

body{
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin: 10px;
}

.title-text {
  text-align: center;
  white-space: pre-line;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;

}

.options {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 20px;
  background-color: lightgray;
  padding: 50px;
}

.grid-size-button {
  
}

.grid-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  /* height: 700px;
  width: 700px; */
}

.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.square {
  background-color: white;
  box-sizing: border-box;
  border: 1px solid black;
}

.square-hovered {
  background-color: lightgreen;
}

.footer {
  text-align: center;
  background-color: lightgray;
}