body{
  display: flex;
  flex-direction: column;
}

.grid-container {
  box-sizing: border-box;
  /* max-height: 700px;
  max-width: 700px; */
}

.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.square {
  background-color: blue;
  box-sizing: border-box;
  border: 1px solid black;
}

.square-hovered {
  background-color: lightblue;
}

.options {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.grid-size-button {
  
}